* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --primary_bgcolor: #000;
    --secondary_bgcolor: #101010;
    --third_bgcolor: #1d1d1d;
    --font_color: #a7a7a7;
    --song-border: 2px solid #1d1d1d;
    --song_bgcolor: #2e2e2e;
}

/* CSS For WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #616161;
    /* Color of the thumb */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #101010;
    /* Color of the track */
}

/* Styles for the white input type range */
input[type="range"] {
    -webkit-appearance: none;
    width: 60%;
    height: 5px;
    border-radius: 5px;
    background: #fff;
    /* Set the background color to white */
    outline: none;
    margin: 10px 0;
    /* Optional: Adjust the margin as needed */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #52ff42;
    /* Set the color for the thumb */
    cursor: pointer;
    margin-top: -5px;
    /* Adjust the top margin to center the thumb */
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #1dff09;
    /* Set the color for the thumb on hover */
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #dcdcdc;
    /* Set the color for the track */
}


.container {
    background-color: var(--primary_bgcolor);
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    gap: 9px;
    padding: 7px 9px;
}

/* CSS FOR LEFT CONTAINER */

.left {
    background-color: var(--primary_bgcolor);
    color: var(--font_color);
    min-width: 22.75vw;
    height: 100%;
    border-radius: 7px;
    font-size: 13px;
    overflow: hidden;
}

#cancel {
    position: absolute;
    right: 24px;
    top: 26px;
    display: none;
}

.icon_container {
    background-color: var(--secondary_bgcolor);
    padding: 23px;
    border-radius: 7px;

}

.home,
.search {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 21px;
    gap: 17.5px;
    cursor: pointer;
}

/* CSS FOR LIBRARY */

.library {
    display: flex;
    flex-direction: column;
    gap: 22px;
    background-color: var(--secondary_bgcolor);
    border-radius: 7px;
    margin-top: 7px;
    padding: 23px 12px;
    font-size: 13px;
    height: 81%;
}

.lib_heading {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 17.5px;
}

.lib_heading h2 {
    font-size: 15px;
}

.playlist {
    /* background-color: var(--third_bgcolor); */
    border-radius: 7px;
    height: 58%;
    padding: 2px;
    overflow: auto;
}

/* CSS FOR SONG CARD */

.song {
    display: flex;
    align-items: center;
    height: 55px;
    border: var(--song-border);
    border-radius: 7px;
    padding: 7px;
    margin: 4px 0px;
    font-size: 11px;
    color: white;
    justify-content: space-around;
    cursor: pointer;
    transition: all 0.3s;
}

.song:hover {
    background-color: var(--song_bgcolor);
}

.song h4 {
    font-weight: 100;
    width: 135px;
}

.play_now {
    display: flex;
    justify-content: space-between;
    width: 80px;
    align-items: center;
    cursor: pointer;
}

/* CSS FOR RIGHT CONTAINER */

.right {
    position: relative;
    background-color: var(--secondary_bgcolor);
    color: var(--font_color);
    width: calc(100vw - 18.75vw);
    height: 100%;
    border-radius: 7px;
    padding: 0 4px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
}

.icons {
    display: flex;
    gap: 12px;
    padding: 17px;
}

#hamburger {
    display: none;
    position: relative;
    right: 16px;
}

.sign_up {
    color: var(--font_color);
    background-color: var(--secondary_bgcolor);
    border: none;
}

.sign_up,
.log_in {
    font-size: 16px;
}

.sign_up:hover {
    color: white;
}

/* CSS FOR CARD CONTAINER AND CARD */
.main_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--third_bgcolor);
    height: 60%;
    padding: 22px;
    border-radius: 7px;
}

.main_container h2 {
    color: white;
}

.card_container {
    display: flex;
    overflow: auto;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 19px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--secondary_bgcolor);
    height: 258px;
    width: 177px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.card:hover {
    background-color: var(--song_bgcolor);
}

.card img {
    width: 145px;
    border-radius: 7px;
    margin-top: 12px;
}

.card h3 {
    font-size: 14px;
    text-align: left;
    width: 141px;
    height: 20px;
}

.card p {
    width: 141px;
    font-size: 12px;
    color: var(--font_color);
}

/* CSS FOR PLAYBAR */

.playbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 1.2vw;
    font-weight: bold;
    background-color: #1edb0d;
    color: white;
    border-radius: 7px;
    height: 68px;
    width: 74.4%;
    padding: 0 60px;
}

.loop_icons {
    margin-right: 17px;
}

.song_info {
    width: 330px;
}

.duration {
    width: 150px;
    text-align: center;
}

.play_buttons {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.button_container {
    display: flex;
    gap: 13px;
}

/* CSS FOR SEEKBAR */

.seek_bar {
    width: 98%;
    height: 4px;
    background-color: #dcdcdc;
    border-radius: 5px;
    position: absolute;
    bottom: 7px;
    right: 1%;
    cursor: pointer;
}

.circle {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: absolute;
    bottom: -5px;
    left: 0%;
    transition: left 0.5s;
}

/* CSS FOR VOLUME BAR */

.volume {
    display: flex;
    align-items: center;
    gap: 7px;
}

/* Some Utility Classes */

.fill {
    display: flex;
    padding: 3px;
    background-color: black;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn {
    padding: 16px 31px;
    border-radius: 31px;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.btn:hover {
    font-size: 14.5px;
    font-weight: bolder;
}

/* MEDIA QUERIES */

@media (max-width: 1030px) {
    input[type="range"] {
        width: 60%;
    }

    .container {
        padding: 0;
    }

    .left {
        position: fixed;
        min-width: 44.75vw;
        left: -120%;
        z-index: 1;
        transition: all 0.7s;
    }

    .right {
        width: 100vw;
        height: 100vh;
    }

    .card_container {
        justify-content: center;
    }

    .playbar {
        width: 98vw;
        right: 0.9vw;
        font-size: 14px;
        height: 100px;
    }

    .play_buttons {
        gap: 9px;
    }

    .play_buttons {
        justify-content: center;
        width: 100%;
        gap: 4px;
    }

    .button_container {
        justify-content: center;
    }

    .volume {
        justify-content: center;
    }

    .song_info {
        width: 125px;
    }

    #hamburger {
        display: block;
    }

    #cancel {
        display: block;
    }
}

@media (max-width: 550px) {
    input[type="range"] {
        width: 40%;
    }

    .left {
        min-width: 100vw;
    }

    .left_arrow,
    .right_arrow {
        display: none;
    }

    .sign_up,
    .log_in {
        font-size: 10px;
        padding: 8px 17px;
    }

.main_container{
    height: 66%;
}

    .card {
        height: 350px;
        width: 279px;
    }

    .card img {
        width: 245px;
    }

    .card h3{
        width: 225px;
    }

    .card p {
        width: 225px;
    }

    .playbar {
        padding: 23px 0px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 98vw;
        right: 0.9vw;
        font-size: 14px;
        height: 164px;
    }

    .song_info {
        width: 245px;
        height: 25px;
        text-align: center;
    }

    .play_buttons {
        justify-content: center;
        width: 100%;
        gap: 4px;
    }

    .button_container {
        justify-content: center;
    }

    .volume {
        justify-content: center;
    }

    .seek_bar {
        height: 9px;
    }

    .circle {
        width: 20px;
        height: 20px;
    }
}